.container {
      display:flex ;
      justify-content: space-between;
      gap: 2rem;
}
.productsContainer {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      border: 1px solid #303030;
}

/* .sideBarContainer {
} */
