.container {
      display:flex ;
      justify-content: space-between;
      gap: 3rem;
      border: 1px solid red;
}
.productsContainer {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
}
li{
      cursor: pointer;
}
/* .sideBarContainer {
} */
