.searchBoxContainer {
  padding: 3rem;
  border-radius:0.5rem;
  border: 2px solid #e2e2e2;
  margin: 1rem auto;
}
.searchBoxContainer input {
  border: 2px solid #e2e2e2;
  width: 30%;
  padding: 1.5rem;
  font-size: 1.3rem;
  z-index: 2;
  border-radius: 0.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif3;
}
