.footer {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  background-color: var(--color-secondary);
  padding: 2rem;
  color: var(--color-primary);
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  
}
